.register {
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e5e5e5;
  
    .registerLeft {
      max-width: 640px;
      width: 100%;
      img {
        width: 100%;
      }
      .username {
        font-family: sans-serif;
        font-size: 24px;
        text-align: center;
        margin-top: 12px;
      }
    }
  
    .registerRight {
      max-width: 780px;
      width: 100%;
      padding: 44px 56px;
      background-color: #fff;
      border-radius: 8px;
  
      .registerRightTitle {
        max-width: 335px;
        width: 100%;
        font-family: sans-serif;
        font-size: 36px;
        margin-bottom: 37px;
  
        span {
          color: #6358dc;
          font-size: 46px;
        }
      }
  
      .separator {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        font-family: sans-serif;
  
        &::after {
          content: "";
          display: block;
          width: 47%;
          height: 2px;
          background-color: #bfbfbf;
        }
  
        &::before {
          content: "";
          display: block;
          width: 47%;
          height: 2px;
          background-color: #bfbfbf;
        }
      }
    }
  }
  
  @media (max-width: 1445px) {
    .register {
      padding: 20px;
      flex-direction: column;
      row-gap: 20px;
    }
  }
  
  @media (max-width: 790px) {
    .register {
      padding: 20px;
      flex-direction: column;
      row-gap: 20px;
    }
  }
  
  @media (max-width: 490px) {
    .registerRight {
      padding: 30px 26px !important;
      .registerRightTitle {
        font-size: 24px;
        margin-bottom: 20px;
      }
    }
  }
  